

.pm{
    height: 100vh;
    background-image: url("./../../../images/dirt.jpg");
}

.pm_img{
    width: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 20px;
    margin: 20px;
}

.pm_card{
    box-shadow: 5px 5px 20px;
    margin-top: 20px;
}

.pm_card_base {
    padding: 30px;
}

.pm_card_title {
    margin-top: 10px;
}

.pm_form {
    text-align: left;
}

.pm_btn_create {
    float: left;
    margin-bottom: 20px
}

.table {
    border-radius: 10px;
}

.pm_title {
    margin-top: 20px;
    background-color: linen;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
    text-shadow: 1px 1px 3px rgb(1, 39, 1);
}


